body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #2e2f42;
  background-color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

ul {
  list-style-type: none;
}

.header {
  display: inline-flex;
  width: 1440px;
  height: 72px;
}

.logo {
  display: inline-flex;
  margin-left: 156px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 76px;
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-title {
  color: #4d5ae5;
}

.nav-list {
  display: inline-flex;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 332px;
  gap: 40px;
  font-weight: 500;
}

.contact-email {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 40px;
  color: #434455;
  text-decoration: none;
}

.contact-tell {
  margin-top: 24px;
  margin-bottom: 24px;
  color: #434455;
  text-decoration: none;
}

.main-section {
  background-color: #2e2f42;
}

.main-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
  padding-left: 472px;
  padding-top: 188px;
  padding-right: 472px;
}

.main-button {
  margin-left: 636px;
  margin-right: 635px;
  margin-top: 48px;
  background-color: #4d5ae5;
  padding: 16px 32px 16px 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.64px;
  display: inline-flex;
  white-space: nowrap;
}

.info-container {
  margin-left: 156px;
  margin-bottom: 120px;
  margin-top: 120px;
  margin-right: 156px;
  align-items: center;
}

.info-list {
  display: inline-flex;
  flex-direction: row;
  gap: 24px;
  width: 1128px;
  height: 104px;
}

.info-list-title {
  margin: 0;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  word-wrap: break-word;
}

.info-list-par {
  margin: 0;
  color: #434455;
  word-wrap: break-word;
}
